<div class="home">
<ion-view title="Home" id="page3" style="background-color:;">
    <ion-content padding="false" class="has-header">
        <a class="button button-calm  button-block icon ion-android-camera buttontrans" ng-click="takePicture()"> Take Photo</a>
        
        
            <img id='myImage' ng-show="myImage">


        <a id="visselDetails-button16" class="button button-calm  button-block icon ion-android-done-all buttontrans" ng-click="submitByCatch()"> Save</a>
        {{url}}
    </ion-content>
</ion-view>
</div>