<ion-view title="Gear details" id="page4" style="background-color:;">
    <ion-content padding="false" class="has-header">
        <h3 id="gearDetails-heading2" style="color:#000000;text-align:center;">Long Line-මරු වැල්</h3>
        <form class="list"><br>
            <label class="item item-input details">
                <span class="input-label">Type :</span>
                <input type="text" placeholder="" ng-model="gearDetails.type">
            </label>
            <label class="item item-input details">
                <span class="input-label">Mainline Material :</span>
                <input type="text" placeholder="" ng-model="gearDetails.mainlinemeterial">
            </label>
            <label class="item item-input details">
                <span class="input-label">Mainline Length (m) :</span>
                <input type="number" placeholder="" ng-model="gearDetails.mainlinelength">
            </label>
            <label class="item item-input details">
                <span class="input-label">Floatline Length (m) :</span>
                <input type="number" placeholder="" ng-model="gearDetails.floatlinelength">
            </label>
            <label class="item item-input details">
                <span class="input-label">Branchline Length (m) :</span>
                <input type="number" placeholder="" ng-model="gearDetails.branchlinelength">
            </label>
            <label class="item item-input details">
                <span class="input-label">Total Hooks :</span>
                <input type="number" placeholder="" ng-model="gearDetails.totalhooks">
            </label>
            <label class="item item-input details">
                <span class="input-label">Hooks between Boys :</span>
                <input type="number" placeholder="" ng-model="gearDetails.hooksbetweenboys">
            </label>
            <label class="item item-input details">
                <span class="input-label">Type of Hooks :</span>
                <input type="text" placeholder="" ng-model="gearDetails.typeofhooks">
            </label><br>
        </form>
        <h3 id="gearDetails-heading4" style="color:#000000;text-align:center;">Torilines-ටෝරි ලයින්</h3>
        <form class="list"><br>
            <label class="item item-input details">
                <span class="input-label">Tori line Length :</span>
                <input type="number" placeholder="" ng-model="gearDetails.torilinelength">
            </label>
            <label class="item item-input details">
                <span class="input-label">Streamers per Line :</span>
                <input type="number" placeholder="" ng-model="gearDetails.streamersperline">
            </label>
            <label class="item item-input details">
                <span class="input-label">Streamers Type :</span>
                <input type="text" placeholder="" ng-model="gearDetails.streamerstype">
            </label>
            <label class="item item-input details">
                <span class="input-label">Streamers Length :</span>
                <input type="number" placeholder="" ng-model="gearDetails.streamerslength">
            </label>
            <label class="item item-input details">
                <span class="input-label">No of Line Cutters :</span>
                <input type="number" placeholder="" ng-model="gearDetails.nolinecutters">
            </label>
            <label class="item item-input details">
                <span class="input-label">No of Dehookers :</span>
                <input type="number" placeholder="" ng-model="gearDetails.nodehookers">
            </label><br>
            <a id="gearDetails-button13" class="button button-calm  button-block icon ion-android-done-all buttontrans" ng-click="submitGearDetails()">Submit</a>
        </form>

    </ion-content>
</ion-view>