<div class="home">
<ion-view title="Home" id="page3" style="background-color:;">
    <ion-content padding="false" class="has-header">
    <div class="list">
        <a class="item item-icon-right" ng-click="finishTrip()">
            <div class="row">
                <i class="icon ion-power assertive" style="font-size: 200%;"></i>
                <div class="col">
                    <label style="font-size: 120%;">Finish Trip</label>
                </div>
            </div>
        </a>
        
        <a class="item" ui-sref="menu.vessel">
            
            <div class="row">
              <div class="col col-33">
                <i class="ion-android-boat calm" style="font-size: 400%;"></i>
            </div>
            <div class="col">
                <br>
                <label style="font-size: 120%;">Vessel Details</label>
            </div>
              
            </div>
          
        </a>

        <a class="item" ui-sref="menu.gear">
            
            <div class="row">
              <div class="col col-33">
                <i class="ion-gear-b calm" style="font-size: 400%;"></i>
            </div>
            <div class="col">
                <br>
                <label style="font-size: 120%;">Gear Details</label>
            </div>
              
            </div>
          
        </a>

        <a class="item" ui-sref="menu.bycatch">
            
            <div class="row">
              <div class="col col-33">
                <i class="ion-android-camera calm" style="font-size: 400%;"></i>
            </div>
            <div class="col">
                <br>
                <label style="font-size: 120%;">By Catch</label>
            </div>
              
            </div>
          
        </a>

        <a class="item" ui-sref="menu.operation">
            
            <div class="row">
              <div class="col col-33">
                <i class="ion-android-document calm" style="font-size: 400%;"></i>
            </div>
            <div class="col">
                <br>
                <label style="font-size: 120%;">Operation Details</label>
            </div>
              
            </div>
          
        </a>

        <a class="item" ui-sref="menu.test">
            
            <div class="row">
              <div class="col col-33">
                <i class="ion-android-document calm" style="font-size: 400%;"></i>
            </div>
            <div class="col">
                <br>
                <label style="font-size: 120%;">Operation Details</label>
            </div>
              
            </div>
          
        </a>

        {{message}}

        

        
</div>
    </ion-content>
</ion-view>
</div>