<ion-view title="Operation details" id="page4" style="background-color:;">
    <ion-content padding="false" class="has-header">
        <div class="list">
            <div class="item item-divider">
               Operation Details
            </div>
            <form>

          <label class="item item-input item. -floating-label">
            <span class="input-label">No of days fish :</span>
            <input type="text" placeholder="No of days fish :">

          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Main Line Length (m) :</span>
            <input type="text" placeholder="Main Line Length (m) :">
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Branch Length (m) :</span>
            <input type="text" placeholder="Branch Length (m) :">
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Sets per the Trip :</span>
            <input type="text" placeholder="Sets per the Trip :">
            
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Bait Type :</span>
            <input type="text" placeholder="Bait Type :">
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Bait Species :</span>
            <input type="text" placeholder="Bait Species :">
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Bait Ratio :</span>
            <input type="text" placeholder="Bait Ratio :">
            
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Sampling Method :</span>
            <input type="text" placeholder="Sampling Method :">
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Dye Color :</span>
            <input type="text" placeholder="Dye Color :">
          </label>


          <div class="item item-divider">
               Catch Details
            </div>

            <label class="item item-input item. -floating-label">
            <span class="input-label">Species Code :</span>
            <input type="text" placeholder="Species Code :">
            
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">No of Fish :</span>
            <input type="text" placeholder="No of Fish :">
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Weight (Kg) :</span>
            <input type="text" placeholder="Weight (Kg) :">
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Weight Code :</span>
            <input type="text" placeholder="Weight Code :">
            
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Length (cm) :</span>
            <input type="text" placeholder="Length (cm) :">
          </label>
          <label class="item item-input item. -floating-label">
            <span class="input-label">Length Code :</span>
            <input type="text" placeholder="Length Code :">
          </label>

            <div class="row">
                <button class="button button-block button-calm" type="submit">Submit</button>
            </div>
        </form>
        </div>
    </ion-content>
</ion-view>