<!--This is the login page for he app-->

<ion-view title="Marine Research App" id="page5">
<div class="bar bar-header bar-calm">
  <h1 class="title"></h1>
</div>
    
    <ion-content overflow-scroll="true" padding="true"  class="has-header">


   <link rel="stylesheet" type="text/css" href="css/style.css"></link>
   <div><br><br><br></div>
   <div class="row">

    <div class="col col-33 col-offset-33 row row-center"><img src="img/minicon.png"/></div><br>
    
  </div>
  
     <div class="logintrans">
        
            <form class="list" style="width:80%; margin-left:10%;">
              <h3 style="text-align:center" class="dark ">WELCOME TO MIN</h3>
                <br>
                <label class="item item-input roundCorners">
                    
                    <input type="text" placeholder="Username" ng-model="loginData.username">
                </label>
                
                <br>
                <label class="item item-input roundCorners">
                    <input type="password" placeholder="Password" ng-model="loginData.password">
                </label>


                <!--ui-sref="scientificObserverMenu"  meka awe redirect wenna nikanma-->
                <button  id="marineResearchApp-button3" class="button  button-full  button-calm" ng-click="login()" type="submit">Log In</button> 

            </form>

        <br>
    </div> 
    <div class="bar bar-footer bar-calm">
      <div class="title"></div>
    </div>
    </ion-content>
</ion-view>