
<ion-view title="Sign Up Here">
<ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" >Close</button>
    </div>
  </ion-header-bar>

    <ion-content overflow-scroll="true" padding="true" style="background: url(img/backgroung.jpg) no-repeat center;" class="has-header">

    <link rel="stylesheet" type="text/css" href="css/style.css"></link>

        <div class="list" style="width:80%; margin-left:10%;"><br>

          <label class="item item-input roundCorners signtrans">
            <input type="text" placeholder="First Name">
          </label><br>

          <label class="item item-input roundCorners signtrans">
            <input type="text" placeholder="Last Name">
          </label><br>
 
          <label class="item item-input roundCorners signtrans">
            <input type="text" placeholder="Username">
          </label><br>

          <label class="item item-input roundCorners signtrans">
            <input type="password" placeholder="Password">
          </label><br>

          <label class="item item-input roundCorners signtrans">
            <input type="email" placeholder="gmail">
          </label><br>


          <a ui-sref="marineResearchApp" class="button button-positive  button-block icon ion-android-done-all signtrans buttontrans">Submit</a>
          
        </div>
        
    </ion-content>
</ion-view>