<style>
    .text div{
	  position: relative;
	  top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	}
</style>
<ion-view title="Home" align-title="center" id="page1">
	<ion-content padding="true" class="has-header text"  style="background: url() no-repeat center;background-color:#11c1f3">

		<div class="col col-33 col-offset-33">
				<i class="ion-power light" style="font-size: 800%;" ng-click="start()"></i>
				
  		</div>
  		<div class="col col-33 col-offset-33 light">start a new trip</div>
	</ion-content>
</ion-view>