<ion-view title="Trip Information" id="page4" style="background-color:;">
    <ion-content padding="false" class="has-header">
        <form class="list">
            <ion-toggle toggle-class="toggle-royal" ng-checked="true">Start / End Trip</ion-toggle>
            <div class="spacer" style="width: 283px; height: 29px;"></div>
            <div class="padding">
                <h4>
                    <b>General Details</b>
                </h4>
            </div>
            <label class="item item-input" name="inputHarbor">
                <input type="text" placeholder="වරාය​">
            </label>
            <label class="item item-input" name="inputDistrict">
                <input type="text" placeholder="දිස්ත්‍රික් කාර්යාලය">
            </label>
            <label class="item item-input" name="inputHarboOut">
                <input type="text" placeholder="පිටත් වූ වරාය ">
            </label>
            <label class="item item-input" name="inputHarborIn">
                <input type="text" placeholder="පැමිණි වරාය">
            </label>
        </form>
        <a ui-sref="menu.tripInformation2" id="tripInformation-button14" style="font-weight:600;text-align:left;border-radius:10px 10px 10px 10px;" class="button button-positive button-large icon-right ion-android-arrow-forward">Next</a>
    </ion-content>
</ion-view>