<ion-view title="Vessel details" id="page4" style="background-color:;">
    <ion-content padding="false" class="has-header">
        <form class="list" name="vessel" ng-submit="vesselDetails(boat)">
            <div class="list">
              <label class="item item-input item. -floating-label">
                <span class="input-label">Boat register no :</span>
                <input type="text" ng-model="boat.regno" name="regno"  placeholder="Boat register no :" required>
              </label>
              <span class="item-note assertive" ng-show="vessel.regno.$dirty && vessel.regno.$invalid">
                required
              </span>
               
            </div>
            <div class="row">
                <button class="button button-block button-calm" type="submit">Submit</button>
            </div>
        </form>
    </ion-content>
</ion-view>